<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Pillow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Find your dream home.</h1>
      <br>
      <div id="main">

        <form role="search" method="post" action="{{ url_for('search_home') }}" class="search-form">
            <div>
                <label for="address">Search</label>
                <input name="address" maxlength="150" placeholder="Enter an address">
                <input name="citystatezip" maxlength="150" placeholder="Enter city, state or ZIP code">
                <button type="submit">Search</button>
            </div>
        </form>

      </div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  </body>
</html>